.backing_div
{
    position: relative;
    left: 300px;
    display: inline-block;
    font-size: 30px;
    margin: 40px 0px 40px 0px;
    color: #787878;
}
.backing_link
{
    position: relative;
    left: 400px;
    display: inline-block;
    font-size: 30px;
}

@media screen and (max-width: 1300px) {
    .backing_div { font-size: 20px; }
    .backing_link { font-size: 20px; }
}

@media screen and (max-width: 990px) {
    .backing_div { font-size: 15px; left: 200px;}
    .backing_link { font-size: 15px; left: 250px;}
}