.fundingInfoMain
{
    position: relative;
    left: 33%;
    top: 50px;    
    display: inline-flex;
    color: #787878;
}
.fundingGridDiv
{
    display: grid;
    width: 500px;
    grid-template-columns: 50% 50%;
}
.fundingInfoMain .fundingGridDiv div {margin-bottom: 15px;}
@media screen and (max-width: 1000px) {
    .fundingInfoMain { left: 195px; }
}